<div class="columns logo">
  <div class="column is-2 is-offset-5">
    <img class="image" src="assets/logo.png" alt="Improve Construction">
  </div>
</div>
<div class="img" style="background-image:url(assets/preview/AdobeStock_136521924_Preview.jpeg)">
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1 has-text-centered" style="color: #292929">
          Your Satisfaction Is Our Priority
        </h1>
      </div>
    </div>
  </section>
</div>
<div class="container">
  <div class="columns">
    <div class="column is">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="assets/preview/AdobeStock_123262382_Preview.jpeg" alt="Image">
          </figure>
        </div>
        <div class="card-content">
          <div class="title">
            We Do Kitchens
          </div>
          <div class="content">
            We do general renovation, that includes brand new tiles brand new walls and renewal of electricity that fits with the code of electricity in Ontario
            <br>
            <small><a>Go Details</a></small>
          </div>
        </div>
      </div>
    </div>
    <div class="column is">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="assets/preview/AdobeStock_77549972_Preview.jpeg" alt="Image">
          </figure>
        </div>
        <div class="card-content">
          <div class="title">
            We Do Kitchens Perfect
          </div>
          <div class="content">
            We also have designers that design your kitchen according to your tastes and on top of that we manufactor everything and install them if you please
            <br>
            <small><a>Go Details</a></small>
          </div>
        </div>
      </div>
    </div>
    <div class="column is">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="assets/preview/AdobeStock_38074002_Preview.jpeg" alt="Image">
          </figure>
        </div>
        <div class="card-content">
          <div class="title">
            We Do Kitchens With Care
          </div>
          <div class="content">
            We also manufacture and install the work when you are pleased, just take a look at some of the work we have done.
            <br>
            <small><a>Go Details</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="img" style="background-image:url(assets/preview/AdobeStock_79649758_Preview.jpeg);">
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-centered">
          What We Do?
        </h1>
        <h2 class="subtitle has-text-centered">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id ligula rutrum, vestibulum nunc eget, posuere odio. Ut laoreet tempor orci non semper. Nam efficitur a ipsum eu mollis. Nullam nec ipsum id elit hendrerit maximus et sit amet erat. Nunc pretium quis magna cursus volutpat.
        </h2>
      </div>
    </div>
  </section>
</div>
<div class="container is-fluid works">
  <h1 class="title is-2 has-text-centered">
    Work Samples
  </h1>
  <div class="columns">
    <div *ngFor="let item of images" class="column">
      <div class="card">
        <img [src]="'assets/samples/' + item" alt="" class="image">
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Improve Construction</strong> by <a href="http://improveconstruction.ca/mr-ekber">mr. Ekber</a>.
        <br> 
        made by 
        <a href="http://nburaktaban.ca">nburaktaban.ca</a>
      </p>
      <p>
    </div>
  </div>
</footer>